################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ToDo/ToDo/bin/Debug/net5.0
/ToDo/ToDo/obj
/BlazorServerLifeCycle/.vs/BlazorServerLifeCycle
/BlazorServerLifeCycle/BlazorServerLifeCycle/bin/Debug/net5.0
/BlazorServerLifeCycle/BlazorServerLifeCycle/obj
/SchoolApplikacija/SchoolApplikacija/obj
/SchoolApplikacija/SchoolApplikacija/bin
/SchoolApplikacija/.vs/SchoolApplikacija
/SchoolApplikacija/Shared.Models/bin
/SchoolApplikacija/Shared.Models/obj
